*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
display:flex;
background:#0b1023;
color:white;
}

.sidebar{
width:220px;
height:100vh;
background:#141b3a;
padding:20px;
position:fixed;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul li{
list-style:none;
padding:15px;
margin:10px 0;
background:#1d2654;
border-radius:10px;
cursor:pointer;
}

.main{
margin-left:240px;
padding:25px;
width:100%;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

#clock{
font-size:20px;
font-weight:bold;
color:#66fcf1;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:#1b2452;
padding:25px;
border-radius:20px;
box-shadow:0 0 15px rgba(0,0,0,.4);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.formBox,.timerBox{
margin-top:30px;
background:#1b2452;
padding:25px;
border-radius:20px;
}

input,button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:10px;
}

button{
background:#6c63ff;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#5448ff;
}

.student{
background:#141b3a;
padding:20px;
margin-top:15px;
border-radius:15px;
border-left:5px solid #66fcf1;
}

@media(max-width:768px){

.sidebar{
display:none;
}

.main{
margin-left:0;
}

}